<div class="row justify-content-around">
    <div class="col-md-4 " style="text-align: center;">
        <h1>Counter is:</h1>
        <app-counter-output ></app-counter-output>
    </div>

</div>
<div class="row justify-content-around">
    <div class="col-md-8" style="text-align: center;">
        <app-counter-button></app-counter-button>
    </div>
</div>
<div class="row justify-content-around mt-4">
    <div class="col-md-6" style="text-align: center;">
        <app-custom-increment></app-custom-increment>
    </div>
</div>